<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
/* Center the image and position */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    width:100%
    margin:auto;
}

.psw {
    float: right;
    padding-top: 16px;
}
/* Change styles for spanon extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
   
</style>
</head>
<h1><%= link_to "create new account", new_user_path%></h1>
<%= form_tag action: :signup, method: :post do%>
 
    <div class="imgcontainer">
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
<div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname">

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw">

      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>
     

  
   <div class="psw"><%= link_to "forget password?", forget_password_users_path%><br>
   
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook.jpg", :size => "100x100", :alt => "Facebook" %>
</a> 
<!--
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "google.jpg", :size => "64x64", :alt => "Google" %>
</a>-->
  <p></p>


  <p>
  
<%end%>
